body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  user-select: none;
  background-color: rgb(237, 242, 247);
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

.mdui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.mdui-card {
  margin: 20px;
  border-radius: 6px;
  background-color: #f9f9f9;

  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042);
}

.mdui-btn {
  border-radius: 6px;
  font-weight: 600;
}

.audio-card {
  text-align: center;
}

.audio-card > div {
  display: flex;
  flex-direction: row;
}

.audio-card-item {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  padding: 6px;
  margin: 6px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.audio-card-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.audio-card-item:active {
  background-color: rgba(0, 0, 0, 0.165);
}

.audio-card-item > .title {
  font-size: 1.2em;
  font-weight: 600;
}
.audio-card-item > i,
.audio-card-item > .half-circle-spinner {
  font-size: 2em;
  margin-top: 6px;
  margin-bottom: 6px;
}
.audio-card-item > .filename {
  font-size: 14px;
  color: #2c3e5084;
  vertical-align: bottom;
}

.list-box {
  width: 300px;
  height: calc(100vh - 40px);
}
.list-box > * {
  transition: all 0.3s;
}
.list-box > #countdown {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 4px 0;
  text-shadow: 2px 2px 6px rgba(70, 70, 70, 0.5);
}
.list-box > .countdown-text {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  left: 12px;
  top: 8px;
  text-shadow: 0 0 6px rgba(160, 160, 160, 0.3);
}

.auto-control {
  padding: 12px;
  transform: scale(1.2);
}

i.loading {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(30px / 6) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #405973;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #405973;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.editor {
  width: 300px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}
.editor > * {
  transition: all 0.3s;
}
.editor > .mdui-list {
  overflow-y: scroll;
}
.editor input {
  text-align: center;
  flex: 1;
}
.editor .mdui-list-item-content {
  display: flex;
}
.editor select {
  flex: 1;
  padding-right: 0;
  margin: 0 8px;
}
.editor .mdui-card-actions {
  background-color: #ebebeb;
}
.editor .mdui-card-actions {
  display: flex;
  justify-content: center;
}

.mdui-textfield-error, .mdui-textfield-helper {
  overflow: visible;
}